<h1>{{title}}</h1>

{{#if isShowBody}}
  <p><button type="button" name="button" {{action "toggleBody"}}>Hide Body</button></p>


  <h2>Comments</h2>
  {{#each comments as |comment|}}
    <p>
      <strong>{{comment.name}}</strong>: {{comment.comment}}
      <button type="button" name="button" {{action "choiceOption" comment}}>{{comment.name}}</button>
    </p>
  {{/each}}

  <button type="button" name="button" {{action "showOption"}}>Show Comment</button>





  

  <br><br><br>
  <h4>Add Comment:</h4>
  <form {{action "submitAction" on="submit"}}>
    <p>Name: {{input value=name}}</p>
    <p>Comment: {{textarea value=comment}}</p>
    <button type="submit">Submit</button>
  </form>

  <br><br>
  <button type="button" name="button" {{action "viewPost"}}>Ver Post</button>



{{else}}
  <p><b>the Body is Hide</b></p>
  <button type="button" name="button" {{action "toggleBody"}}>Show Body</button>
{{/if}}
